.status-bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}

.status-bar__column {
    width: 33%;
}

.status-bar__column:first-child span {
    margin-right: 5px;
    padding: 0px 5px;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
}

/*위 코드는 width가 안맞아서 중앙 정렬이 안맞을 때 쓸 수 있는 css기술이다.(그냥 쓰기)*/
.status-bar__column .fa-battery-quarter {
    margin: 0px 5px;
}